ENVIRONMENT=development

HTTP_HOST=0.0.0.0
HTTP_PORT=8888
HTTP_STATIC_FILES_PATH=./backend/public
HTTP_STATIC_STATIC_PATH_CONTEXT=/

LOG_LEVEL=debug
LOG_DIRECTORY=./logs
LOG_FILENAME=app.log

OPENAI_API_KEY=
OPENAI_BASE_URL=https://api.openai.com/v1/chat/completions
OPENAI_MODEL=gpt-4o-mini

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
AUTH_REDIRECT_URL=

JWT_SECRET=uma_chave_secreta_para_jwt